.dropdown .section {
    display: none;
    margin: 10px 0;
  }
  
.dropdown:hover .section {
    display: block;
  }


.wy-side-nav-search {
  background-color: black;
}

p {
 text-align: justify;
}

.wy-table-responsive table td {
  white-space: normal;
}
