name: POSYDON Continuous Integration

on:
  pull_request:
    branches: [main, development]

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-13, macos-latest, ubuntu-latest]
        python-version: ['3.11']  # can add more if we want to support

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install POSYDON without extras
      run: |
        python -m pip install --upgrade pip
        pip install .

    - name: Run all tests in posydon/unit_tests
      run: |
        # python -m pip install --upgrade pip
        # pip install .
        pip install pytest
        pip install pytest-cov
        export PATH_TO_POSYDON=./
        export PATH_TO_POSYDON_DATA=./
        export MESA_DIR=./
        python -m pytest posydon/unit_tests/ --cov=posydon.config --cov=posydon.utils --cov=posydon.grids --cov-branch --cov-report term-missing --cov-fail-under=100
