name: POSYDON Continuous Integration

on:
  pull_request:
    branches:
      - main
      - 'v2.*'
      - 'v2.**'

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-15, macos-latest, ubuntu-latest]
        python-version: ['3.11']  # can add more if we want to support

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install POSYDON with test dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[test]

    - name: Run all tests in posydon/unit_tests
      run: |
        export PATH_TO_POSYDON=./
        export PATH_TO_POSYDON_DATA=./posydon/unit_tests/_data/
        export MESA_DIR=./
        pytest # run and coverage parameters are defined in pyproject.toml
